<div class="view-container">
  <div class="form-container">
    <button class="back-btn" (click)="goToList()">&lt;</button>

    <header class="header">
      <h1 class="title">Formulario de Registro</h1>
    </header>
    <hr/>
    <div>
      <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
        <app-custom-form-input
          [control]="idControl"
          [label]="'ID'"
          [placeholder]="'ID'"
          [disabled]="isEdit"
          (blur)="validateId()"
        />

        <app-custom-form-input
          [control]="nameControl"
          [label]="'Nombre'"
          [placeholder]="'Nombre'"
        />

        <app-custom-form-input
          [control]="descriptionControl"
          [label]="'Descripción'"
          [placeholder]="'Descripción'"
        />

        <app-custom-form-input
          [control]="logoControl"
          [label]="'Logo'"
          [placeholder]="'Logo'"
        />

        <app-custom-form-input
          [control]="dateReleaseControl"
          [label]="'Fecha Liberación'"
          [placeholder]="'DD/MM/YYYY'"
          type="date"
        />

        <app-custom-form-input
          [control]="dateRevisionControl"
          [disabled]="true"
          [label]="'Fecha Revision'"
          type="date"
        />
      </form>
    </div>
    <footer class="button-container">
      <button (click)="productForm.reset()">
        Reiniciar
      </button>
      <button (click)="onSubmit()" [disabled]="productForm.invalid || !productForm.dirty" class="primary-button">
        Enviar
      </button>
    </footer>
  </div>
</div>

