.products-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between
}

.btn-container{
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  button{
    width: 100%;
  }
}

.desc{
  margin-top: 1.5rem;
  font-weight: 500;
}
