.skeleton {
  height: 20px;
  background: linear-gradient(90deg, #f5f5f5, #ddd, #f5f5f5);
  background-size: 200% 100%;
  animation: loading 1.5s ease infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
